html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #4B4848;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.link {
  font-weight: 600;
  border-bottom: 1px solid #f2a580;
  text-decoration: none;
  color: #4B4848;
  transition: 0.2s;
}
.link:hover, .link:focus {
  color: #f6c3ab;
}

.sub-heading {
  margin-top: 0;
  border-bottom: 1px solid #f2a580;
  display: inline;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  position: fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  z-index: 10;
  background-color: white;
}
.header__hamburger {
  position: relative;
  width: 35px;
  display: inline-block;
  margin-left: 20px;
}
@media screen and (min-width: 1025px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger--line {
  margin: 9px 0;
  height: 3px;
  width: 100%;
  background-color: #4B4848;
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
.header__hamburger.open div:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__hamburger.open div:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.header__hamburger.open div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -200px;
  transition: 0.5s;
  z-index: 3;
  opacity: 0;
}
@media screen and (min-width: 1025px) {
  .header__wrapper {
    opacity: 1;
    z-index: 3;
    position: fixed;
    left: 0;
    padding: 20px;
    border-right: 5px solid rgba(0, 0, 0, 0.07);
  }
}
.header__wrapper.active {
  background: white;
  left: 0px;
  top: 72px;
  overflow-y: scroll;
  width: 100vw;
  z-index: 3;
  padding-right: 35px;
  opacity: 1;
}
@media screen and (min-width: 767px) {
  .header__wrapper.active {
    width: 40vw;
  }
}
@media screen and (min-width: 1025px) {
  .header__wrapper.active {
    display: none;
  }
}

.heading {
  font-family: "Yellowtail", cursive;
  margin-top: 0;
}
.heading a {
  color: #f2a580;
  text-decoration: none;
  transition: 0.2s;
}
.heading a:hover, .heading a:focus {
  color: #f6c3ab;
}
.heading--desktop {
  display: none;
}
@media screen and (min-width: 1025px) {
  .heading--desktop {
    display: block;
  }
}
.heading--mobile {
  display: inline;
  position: absolute;
  right: 20px;
}
@media screen and (min-width: 1025px) {
  .heading--mobile {
    display: none;
  }
}

.nav__list {
  padding-left: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
}
.nav__list--item {
  list-style-type: none;
  padding: 5px 0;
  text-align: right;
}
.nav__list--link {
  color: #4B4848;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
.nav__list--link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f6c3ab;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav__list--link.active {
  color: #f6c3ab;
}
.nav__list--link:hover, .nav__list--link:focus {
  color: #f6c3ab;
  font-size: 18px;
}
.nav__list--link:hover:after, .nav__list--link:focus:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-footer {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: flex-end;
  position: relative;
}
.nav-footer__upper {
  display: flex;
  justify-content: flex-end;
}
.nav-footer__list {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  text-align: right;
  width: 50%;
  justify-content: space-between;
}
.nav-footer__list--item {
  list-style-type: none;
  align-self: stretch;
}
.nav-footer__list--item a {
  color: #f2a580;
  transition: 0.2s;
}
.nav-footer__list--item a:hover {
  color: #f6c3ab;
}
.nav-footer__note {
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
}
.nav-footer__note a {
  color: #4B4848;
  transition: 0.2s;
}
.nav-footer__note a:hover, .nav-footer__note a:focus {
  color: #f6c3ab;
}
.nav-footer:before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
}

main {
  padding-top: 25px;
  position: relative;
  transition: 0.8s;
}
@media screen and (min-width: 1025px) {
  main {
    margin-left: 240px;
  }
}
main.nav-active::after {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  margin: 0 15px;
}

.hero-images {
  display: none;
}
@media screen and (min-width: 1025px) {
  .hero-images {
    display: flex;
    justify-content: center;
  }
}
.hero-images__item {
  width: 30%;
}
.hero-images__item > img {
  max-width: 100%;
}
@media screen and (min-width: 1025px) {
  .hero-images__item {
    flex-flow: row nowrap;
  }
}

.hero-carousel__item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  background-position: center;
}

.hero-slider {
  position: relative;
}
@media screen and (min-width: 1025px) {
  .hero-slider {
    display: none;
  }
}

.hero-carousel__item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  background-position: center;
}

.slick-arrow {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 46%;
  transition: 0.2s;
}
.slick-arrow:hover, .slick-arrow:focus {
  color: #f6c3ab;
}
.slick-arrow.slick-next {
  right: 0;
  margin-right: 10px;
}
.slick-arrow.slick-prev {
  margin-left: 10px;
}

.slick-dots {
  list-style-type: none;
  padding: 0;
  position: relative;
  margin: 0;
  margin-top: -30px;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.slick-dots > li {
  display: inline-block;
  margin-right: 5px;
}
.slick-dots > li:last-child {
  margin-right: 0;
}
.slick-dots > li.slick-active > button {
  background: #f6c3ab;
}
.slick-dots > li > button {
  font-size: 0;
  background-color: white;
  border: 1px solid #f2a580;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
}
.slick-dots > li > button:focus {
  outline: none;
}

.gallery__wrapper {
  display: flex;
  flex-flow: row wrap;
}
.gallery__item {
  background-size: cover;
  width: 32%;
  height: 400px;
  margin-right: 12px;
  margin-bottom: 12px;
}

/*# sourceMappingURL=main.css.map */
